POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app_db
DB_PORT=0000

BACKEND_PORT=7000
BACKEND_API_URL=http://localhost:7000

FRONTEND_PORT=7000
FRONTEND_API_URL=http://localhost:7000

# Sentry Configuration
SENTRY_DSN=https://90247bdc66c367117075ac3693f705ea@o4511026851282944.ingest.de.sentry.io/4511026856394832

# Entorno (development | production | test)
NODE_ENV=development

# Si NODE_ENV es distinto de 'production', DB_SYNC y seeding se activan por defecto.
# En producción, se puede forzar con:
# DB_SYNC=true
