NODE_ENV={{NODE_ENV}}
DOMAIN={{DOMAIN}}
BACKEND_API_URL={{BACKEND_API_URL}}
FRONTEND_API_URL={{FRONTEND_API_URL}}
SMARTECONOMAT_ENV_FILE={{SMARTECONOMAT_ENV_FILE}}

POSTGRES_USER={{POSTGRES_USER}}
POSTGRES_PASSWORD={{POSTGRES_PASSWORD}}
POSTGRES_DB={{POSTGRES_DB}}

DB_HOST={{DB_HOST}}
DB_PORT={{DB_PORT}}
DB_USERNAME={{DB_USERNAME}}
DB_PASSWORD={{DB_PASSWORD}}
DB_DATABASE={{DB_DATABASE}}
DB_SYNC={{DB_SYNC}}

JWT_SECRET={{JWT_SECRET}}
JWT_EXPIRATION={{JWT_EXPIRATION}}
SEED_DEFAULT_ADMIN_TEMP_PASSWORD={{SEED_DEFAULT_ADMIN_TEMP_PASSWORD}}
SEED_DEFAULT_ADMIN_USER_TEMP_PASSWORD={{SEED_DEFAULT_ADMIN_USER_TEMP_PASSWORD}}
SEED_DEFAULT_ADMIN_USERNAME={{SEED_DEFAULT_ADMIN_USERNAME}}
SEED_DEFAULT_ADMIN_EMAIL={{SEED_DEFAULT_ADMIN_EMAIL}}
SEED_DEFAULT_SUPERADMIN_USERNAME={{SEED_DEFAULT_SUPERADMIN_USERNAME}}
SEED_DEFAULT_SUPERADMIN_EMAIL={{SEED_DEFAULT_SUPERADMIN_EMAIL}}
SEED_DEFAULT_SUPERADMIN_TEMP_PASSWORD={{SEED_DEFAULT_SUPERADMIN_TEMP_PASSWORD}}
SEED_DEFAULT_USERS_SYNCED={{SEED_DEFAULT_USERS_SYNCED}}
REDIS_PASSWORD={{REDIS_PASSWORD}}

INSTANCE_NAME={{INSTANCE_NAME}}
ADMIN_USERNAME={{ADMIN_USERNAME}}
TIMEZONE={{TIMEZONE}}

TLS_PROVIDER={{TLS_PROVIDER}}
TLS_CUSTOM_FULLCHAIN_PATH={{TLS_CUSTOM_FULLCHAIN_PATH}}
TLS_CUSTOM_PRIVKEY_PATH={{TLS_CUSTOM_PRIVKEY_PATH}}
BACKUP_FREQUENCY={{BACKUP_FREQUENCY}}
BACKUP_RETENTION_DAYS={{BACKUP_RETENTION_DAYS}}
VITE_API_PROXY_TARGET={{VITE_API_PROXY_TARGET}}
STARTUP_RUN_MIGRATIONS={{STARTUP_RUN_MIGRATIONS}}
RUN_BOOTSTRAP_SEEDER={{RUN_BOOTSTRAP_SEEDER}}
SENTRY_DSN={{SENTRY_DSN}}
VITE_SENTRY_DSN={{VITE_SENTRY_DSN}}
FRONTEND_HTTP_PORT={{FRONTEND_HTTP_PORT}}
FRONTEND_HTTPS_PORT={{FRONTEND_HTTPS_PORT}}

MAIL_HOST={{MAIL_HOST}}
MAIL_PORT={{MAIL_PORT}}
MAIL_USER={{MAIL_USER}}
MAIL_PASS={{MAIL_PASS}}
MAIL_FROM={{MAIL_FROM}}
MAIL_SECURE={{MAIL_SECURE}}

CERTS_DIR={{CERTS_DIR}}
CERTS_WEBROOT_DIR={{CERTS_WEBROOT_DIR}}
